<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storyvendingmachine.www.mv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="패키지명"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- 아래 sample 구굴꺼 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />

        <!-- <activity -->
        <!-- android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity" />
        <activity android:name=".RecentMovieLinkWebView" />
        <!-- <activity android:name=".listFragment" /> -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".SelectViewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".FrontPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity" />
        <activity android:name=".UserInfoSetting" />
        <activity android:name=".BoxOfficeActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".WriteMovieNoteActivity" />
        <activity android:name=".EtcWriteActivity"></activity>
    </application>

</manifest>